@font-face { 
    font-family: 'KyoboHand'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff'); 
    font-weight: normal; font-style: normal; }

body{
    font-family: "KyoboHand";
}

h1 {
    font-size: 1.5em;
}

button, ul, input {
    all: unset;
}

button {
    cursor: pointer;
}

footer {
    color: gray;
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
}

/* ------------------- */
body > div{
    display: flex;
}

.left{
    flex-grow: 1;
    overflow: auto;
}

.right{
    flex-grow: 3;
    margin-left: 100px;
}

.todo__container {
    display: flex;
    flex-wrap: wrap;
}

.weather {
    display: unset;
}

.writeTodo > input{
    all: unset;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
}

.todo__container > div{
    border-radius: 7px;
    background-color: aquamarine;
    margin: 3px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo__container > div > div:nth-child(1){
    margin-bottom: 10px;
}

.donetodo {
    background-color: slategrey !important;
    opacity: 0.5;
    color: lightgray;
    order: 99;
}

.allDel{
    background-color: slategrey;
    border-radius: 0.3rem;
    color: white;
    width: 80px;
    padding: 3px;
    margin-right: 10px;
    text-align: center;
    float: right;
}

.memo > form {
    background-color: rgba(250,250,250,0.9);
    height: 50px;
    padding: 3px;
    color: #868e96;
}

.currentWeather > span {
    color: #1b377a;
    font-size: 2rem;
}

.weatherIcon {
    width: 150px;
    vertical-align: text-bottom;
}

.place {
    font-size: 0.9rem;
    color: slategray;
}

.chart-part {

}

.pie-chart {
    position: relative;
    display:inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
    transition-timing-function: ease
  }

.pie-chart > span {
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:100px; height:100px;
    border-radius: 50%;
    text-align:center; line-height: 100px;
    font-size:20px;
    transform: translate(-50%, -50%);
  }
