@font-face { 
    font-family: 'KyoboHand'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff'); 
    font-weight: normal; font-style: normal; }

body{
    font-family: "KyoboHand";
    display: flex;
}

h1 {
    font-size: 1.5em;
}

button, ul {
    all: unset;
}
/* ------------------- */
.right{
    flex-grow: 1;
}

.left{
    flex-grow: 3;
}

.todo__container {
    display: flex;
    flex-wrap: wrap;
}

.writeTodo > input{
    all: unset;
    border-bottom: 1px solid slategrey;
    resize: horizontal;
    width: 250px;
}

.todo__container > div{
    border-radius: 7px;
    background-color: aquamarine;
    width : 200px;
    margin: 1.5px;
    padding: 5px;
}