@font-face { 
    font-family: 'KyoboHand'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff'); 
    font-weight: normal; font-style: normal; }

body{
    font-family: "KyoboHand";
    display: flex;
}

h1 {
    font-size: 1.5em;
}

button, ul, input {
    all: unset;
}

button {
    cursor: pointer;
}

/* ------------------- */
.right{
    flex-grow: 1;
    margin-left: 20px;
}

.left{
    flex-grow: 1;
    overflow: auto;
}

.todo__container {
    display: flex;
    flex-wrap: wrap;
}

.writeTodo > input{
    all: unset;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
}

.todo__container > div{
    border-radius: 7px;
    background-color: aquamarine;
    margin: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donetodo {
    background-color: slategrey !important;
    opacity: 0.5;
    color: lightgray;
    order: 99;
}

.allDel{
    background-color: slategrey;
    border-radius: 0.3rem;
    color: white;
    width: 80px;
    padding: 3px;
    margin-right: 10px;
    text-align: center;
    float: right;
}

.memo > form {
    background-color: white;
    height: 50px;
    padding: 3px;
}